doctype html
html
  head
    title Opret Bruger
    meta(charset="UTF-8")
  body
    h1 Opret bruger
    
    form(action="/users/adduser" method="POST")
      div
        label(for="username") Brugernavn
        input#username(type="text" name="username" required)
      
      div
        label(for="password") Adgangskode
        input#password(type="password" name="password" required)
      
      button(type="submit") Opret bruger