html 
    head
        title forside

        link(rel="stylesheet", href="/css/styles.css")
    body
        div 
            p.loggedInAs Du er nu logget ind som ...
            p Her er en liste over chats:   
            table 
                if chats && chats.length
                    each chat in chats
                        tr 
                            td
                                a(href='#', class='chat-link',data-id=chat.id)= chat.name
                else
                    tr
                        td Der er ikke oprettet nogle chats
            
            a(href="/chats/addchat")
                button
                    strong opret
                        | chat
            button  
            a(href="/users/adduser")
                strong opret 
                    | bruger
            button.logout
                strong log ud


