extends layout

block content
    div 
        p.loggedInAs Du er nu logget ind som..
        p Her er en liste over chats:   

        table 
            if chats && chats.length
                each chat in chats
                    tr 
                        td
                            a(href=`/chat/${chat.id}/messages`, class='chat-link')= chat.name
            else
                tr
                    td Der er ikke oprettet nogle chats

        a(href="/chats/addchat")
            button(type="button") Opret chat

        a(href="/users/adduser")
            button(type="button") Opret bruger

        button.logout(type="button") Log ud


