extends layout

block content
    div 
        p.loggedInAs Du er logget ind som: #{userName}
        p Her er en liste over chats:   

        table 
            if chats && chats.length
                each chat in chats
                    tr 
                        td
                            if isLoggedIn
                                a(href=`/chats/chat/${chat.id}/messages`, class='chat-link')= chat.name
                            else
                                span.chat-link.disabled-link= chat.name
            else
                tr
                    td Der er ikke oprettet nogle chats

        if isLoggedIn
            a(href="/chats/addchat")
                button(type="button") Opret chat💬
        else
            button(type="button" disabled) Opret chat💬

        if isLoggedIn
            a(href="/users")
                button(type="button") Se liste over brugere🤠🤠
        else
            button(type="button" disabled) Se liste over brugere🤠🤠

        if isLoggedIn
            form(action="/users/logout" method="post")
                button.logout(type="submit") Log ud
        else
            a(href="/users/login")
                button.logout(type="button") Log ind
            a(href="/users/adduser")
                button(type="button") Opret bruger🤠


