html 
    head
        title forside

        link(rel="stylesheet", href="/css/styles.css")
    body
        p Du er nu logget ind
        p her burde du kunne: 
            a logge ud
        table 
            p Her er en liste over chats: 
            
            button 
                strong opret 
                    | chat
            button  
                strong opret 
                    | bruger


