doctype html 
html 
    head 
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/styles.css")
        script(src="/js/client.js", defer)

    body 
        header 
            h2 Chat System 
            hr 

        block content 

        footer 
            hr 
            p Chat App