html
    header 
        title Specifik User

    body
        div
            p Her er den specifikke user:

            if user
                div.userBox
                    p Navn: #{user.username}
                    p Level: #{user.level}
                    p Oprettelsesdato: #{user.createdAt}

            else
                p Brugeren blev ikke fundet
