extends layout

block content
    main
        header
            h1= chat.name
            a(href="/") Tilbage til forsiden

        div#message-list
            if messages && messages.length > 0
                each message in messages
                    article.message
                        p= message.text
                        p Oprettet #{message.createdAt}
                        button(type="button") Slet
            else
                p Der er ingen beskeder endnu.

        form#message-form(data-chat-id=chat.id)
            input(type="text", placeholder="Skriv en besked🤔...", required) 
            button(type="submit") Send