html
    header 
        title 
    body
       div 
            p Her er en liste over users:   
            table 
                if users && users.length
                    each user in users
                        tr 
                            td
                                a(href=`#`,  class='user-link', data-id=user.id)= user.username

                else
                    tr
                        td Der er ikke oprettet nogle users